@font-face {
  font-family: "iconfont"; /* Project id 4942914 */
  src: url('iconfont.woff2?t=1749313954394') format('woff2'),
       url('iconfont.woff?t=1749313954394') format('woff'),
       url('iconfont.ttf?t=1749313954394') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huzhujiaoxue:before {
  content: "\e60b";
}

.icon-huzhupingtai:before {
  content: "\e6d2";
}

.icon-huzhu:before {
  content: "\e60c";
}

.icon-huzhushe-01:before {
  content: "\e6ab";
}

.icon-huzhujihua1:before {
  content: "\e60a";
}

.icon-aixin:before {
  content: "\e85c";
}

.icon-dark-full:before {
  content: "\e997";
}

.icon-xinlangweibo:before {
  content: "\e605";
}

.icon-weixin:before {
  content: "\e606";
}

.icon-icon-mail:before {
  content: "\e607";
}

.icon-youxiang:before {
  content: "\e612";
}

.icon-dianhua:before {
  content: "\e624";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-dingwei:before {
  content: "\e608";
}

.icon-dianhua1:before {
  content: "\e609";
}

.icon-dingwei1:before {
  content: "\e622";
}

.icon-huzhujihua:before {
  content: "\e628";
}

.icon-zhinengjiqirenmoban:before {
  content: "\e65b";
}

.icon-gerenzhongxin:before {
  content: "\e603";
}

.icon-jiangzhang:before {
  content: "\e600";
}

.icon-bangfujiuzhu:before {
  content: "\e601";
}

.icon-huzhu_1:before {
  content: "\e890";
}

.icon-tousujianyibeifen:before {
  content: "\e72e";
}

.icon-luntan:before {
  content: "\e602";
}

.icon-xuexizhongxin:before {
  content: "\e604";
}

